body {
    background: teal;
}

section {
    background-color: rgba(255, 255, 255, .9);
    margin: 25px auto;
    max-width: 850px;
    padding: 15px 25px;
    border-radius: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 7px;
}

hr {
    margin: 0 auto;
    width: 280px;
    border: 0;
    border-bottom: 2.5px solid teal;
}

a {
    outline: none;
    cursor: pointer;
}

.link,
.link_c {
    color: #0400ff;
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 17%;
    padding: 0px 8px;
}

.link_c:hover {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 13%;
    padding: 1px 0px;
}

.table_border {
    border-radius: 17px;
    border: 3px solid teal;
}

table {
    background: white;
    border-radius: 17px;
    width: 100%;
    border-collapse: collapse;
    border: 0;
    line-height: 1.15;
}

th {
    padding: 12px;
    border-bottom: 3px solid teal;
}

th:first-child,
th:nth-child(2) {
    border-right: 3px solid teal;
}

tr:nth-child(n+2):nth-child(-n+5) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

td {
    padding: 5px 8px;
}

td:first-child {
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

td:last-child {
    text-align: left;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.social {
    margin: 0 auto;
    width: 150px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

svg {
    transition: 0.4s;
}

svg:hover {
    transform: scale(1.1);
}